@model N01522297_PassionProject_ExpiryDateTracker.Models.ViewModels.UpdateItem
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Item</h2>

<form method="post" action="/Item/Update/@Model.SelectedItem.ItemID">
    <div>
        <label>Name:</label>
        <input type="text" name="ItemName" value="@Model.SelectedItem.ItemName" />
    </div>
    <div>
        <label>Expiry</label>
        <input type="date" min="@DateTime.Now" name="ItemExpiry" value='@Model.SelectedItem.ItemExpiry.ToUniversalTime().ToString("u").Split(' ')[0]' />
    </div>
    <div>
        <label>PantryID</label>
        <select name="PantryID">
            @foreach (var pantry in Model.PantryOptions)
            {
                <option value="@pantry.PantryID">@pantry.PantryName</option>
            }
        </select>
    </div>
    <input type="hidden" name="ItemID" value="@Model.SelectedItem.ItemID" />
    <input type="submit" value="Update" />
</form>